{% extends 'base.html' %}
{% load static %}

{% block title %}{{ title }}|{{ block.super }}{% endblock %}

{% block content %}

<section class="single-blog-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="border-top">
                    <div class="col-md-8">
                        <div class="blog-area">
                            <div class="blog-area-part">
                                <h2>{{ title }}</h2>
                                {{ post.content|safe }}
                            </div>
                            <div class="ads-area">
                                <img src="{% static 'img/ads.jpg' %}" alt="">
                                <p>Your Ad Banner Goes Here</p>
                            </div>
                        </div>
                    </div>
                    {% include 'inc/_sidebar.html' %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
