{% for post in posts %}
{% if post.status == post.PINNED %}
<div class="col-md-12">
    <div class="single-post-big">
        {% if post.image %}
        <div class="big-image">
            <img src="{{ post.image.url }}" alt="{{ post.title }}">
        </div>
        {% else %}
        {% endif %}
        <div class="big-text">
            <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
            {{ post.content|safe|truncatechars_html:700 }}
            <h4><span class="date">{{ post.created_at|date:"d F Y" }}</span>
            <span class="author">Posted By: <span class="author-name">{{ post.author }}</span></span>
            </h4>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}

{% for post in posts %}
{% if post.status == post.PUBLISHED %}
<div class="col-md-3">
    <div class="single-post">
        {% if post.image %}
        <img src="{{ post.image.url }}" alt="{{ post.title }}">
        {% else %}
        {% endif %}
        <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
        <h4><span>Posted By: <span class="author-name">{{ post.author }}</span></span>
        </h4>
        {{ post.content|safe|truncatechars_html:150 }}
        <h4><span>{{ post.created_at|date:"d F Y" }}</span></h4>
    </div>
</div>
{% endif %}
{% endfor %}
