{% load static %}
{% load sidebar %}
<div class="col-md-4">
    {% show_popular 6 %}
    <br>
    <div class="sidebar-ads">
        <img src="{% static 'img/sidebar-ads.jpg' %}" alt="">
        <p>Place For Your <br> Ad Banner</p>
    </div>
    {% show_tags 25 %}
    <div class="newsletter">
        <h2 class="sidebar-title">Subscribe To oUR nEWSLETTER</h2>
        <form action="#" method="post">
            <input type="email" name="" id="" placeholder="Email">
            <input type="submit" value="Subscribe">
        </form>
    </div>
</div>
